.intro-logo21{
    grid-row:3/4;
    margin-top:0;
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    
    }
    
    .buttonn1{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 35px;
    margin-top:0;
    font-size: 22px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    }
    
    .buttonn1:hover {
    background-color: rgb(255, 122, 122);
    }