.intro-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 100px;
}

.comp-wrapper{
    padding: 40px;
}

.container{
    background-color: white;
    /* padding: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 40px;
}

body{
    background-image: url("https://images.pexels.com/photos/1813272/pexels-photo-1813272.jpeg?cs=srgb&dl=pexels-thgusstavo-santana-1813272.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.507);
}

.intro-logo img {
    border-radius: 40%;
    width: 35%;
}

.line1{
    margin-bottom: 40px;
    border-width: 1.5px;
}

.title1{
    margin-bottom:5px;
}

h1{
    font-size: 240%;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.button {
    background-color: red; /* Change the background color */
    color: white; /* Change the text color */
    border: none;
    padding: 15px 25px; /* Adjust padding as needed */
    font-size: 18px;
    border-radius: 50px; /* Add rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth hover effect */
  }
  
  .button:hover {
    background-color: rgb(255, 122, 122); /* Change the background color on hover */
  }
  