.transparent-blur-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* color: rgba(255, 255, 255, 0.5);  */
    color: rgba(255,255,255,0.8);
    font-size: 200px;
    font-weight: bold;
    /* filter: blur(0.9px);  */
    z-index:2;} 
    


